*/*.log
*/*.pid
*/*.pid.lock
*/*.seed
*/*.spec.js
*/*.tgz
.env
.eslintcache
.git/
.gitignore
.node_repl_history
.npm
.nyc_output
.project
.settings
.Spotlight-V100
.Trashes
.vscode
.yarn-integrity
.buildpacks
.cache
.circleci
.circleci
.editorconfig
.env
.eslint*
.github
.github
.gitpod*
.idea
.nycrc*
.prettier*
.vscode/
config/local*.yml
public
CONTRIBUTING.md
coverage
gh-badges/package-lock.json
logs
node_modules/
pids
service-definitions.yml
supported-features.json
