# The formatting for most files is handled by Prettier nowadays.
# See https://github.com/badges/shields/blob/master/CONTRIBUTING.md#prettier for more information.

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
