package.json
package-lock.json
/__snapshots__
/.next
/.cache
/api-docs
/build
/public
/coverage
private/*.json
/.nyc_output
analytics.json
gh-badges/templates/default-template.json
supported-features.json
service-definitions.yml
