package.json
package-lock.json
/__snapshots__
/.next
/build
/public
/coverage
private/*.json
/.nyc_output
analytics.json
gh-badges/templates/_shields_test-template.json
gh-badges/templates/default-template.json
doc/TUTORIAL.md
supported-features.json
service-definitions.yml
