language: node_js
node_js:
  - 6

script:
  - npm run lint
  - npm run test:js

branches:
  except:
    - gh-pages

notifications:
  email:
    - thaddee.tyl@gmail.com
  irc: "irc.freenode.org#shields"

git:
  depth: 10

sudo: false

addons:
  apt:
    packages:
    - libcairo2-dev
    - libjpeg8-dev
    - libpango1.0-dev
    - libgif-dev
    - build-essential
