before_install: sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++
language: node_js
node_js:
  - 0.10

branches:
  only:
    - master

notifications:
  email:
    - thaddee.tyl@gmail.com
  irc: "irc.freenode.org#shields"
