app = "shields-io-review-apps"

kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
  HTTPS="false"
  GITLAB_ORIGINS = "https://gitlab.com"
  METRICS_PROMETHEUS_ENABLED = "false"
  REQUEST_TIMEOUT_SECONDS = "20"
  REQUIRE_CLOUDFLARE = "false"
  USER_AGENT_BASE = "Shields-Review-App"

[deploy]
  strategy = "immediate"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 80
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  auto_stop_machines = "suspend"
  auto_start_machines = true

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"

[[vm]]
  size = "shared-cpu-1x"
  memory = "256mb"
