version: 2

main_steps: &main_steps
  steps:
    - checkout

    - restore_cache:
        keys:
          - v2-dependencies-{{ checksum "package-lock.json" }}
          # https://github.com/badges/shields/issues/1937
          - v2-dependencies-

    - run:
        name: Install dependencies
        command: npm ci

    - save_cache:
        paths:
          - node_modules
        key: v2-dependencies-{{ checksum "package-lock.json" }}

    - run:
        name: Linter
        when: always
        command: npm run lint

    - run:
        name: Core tests
        when: always
        environment:
          mocha_reporter: mocha-junit-reporter
          MOCHA_FILE: junit/core/results.xml
        command: npm run test:core

    - run:
        name: Entrypoint tests
        when: always
        environment:
          mocha_reporter: mocha-junit-reporter
          MOCHA_FILE: junit/entrypoint/results.xml
        command: npm run test:entrypoint

    - run:
        name: Tests for gh-badges package
        when: always
        environment:
          mocha_reporter: mocha-junit-reporter
          MOCHA_FILE: junit/gh-badges/results.xml
        command: npm run test:package

    - store_test_results:
        path: junit

    - run:
        name: 'Prettier check (quick fix: `npm run prettier`)'
        when: always
        command: npm run prettier:check

integration_steps: &integration_steps
  steps:
    - checkout

    - restore_cache:
        keys:
          - v2-dependencies-{{ checksum "package-lock.json" }}
          # https://github.com/badges/shields/issues/1937
          - v2-dependencies-

    - run:
        name: Install dependencies
        command: npm ci

    - run:
        name: Integration tests
        when: always
        environment:
          mocha_reporter: mocha-junit-reporter
          MOCHA_FILE: junit/integration/results.xml
        command: npm run test:integration

    - store_test_results:
        path: junit

services_steps: &services_steps
  steps:
    - checkout

    - restore_cache:
        keys:
          - v2-dependencies-{{ checksum "package-lock.json" }}
          # https://github.com/badges/shields/issues/1937
          - v2-dependencies-

    - run:
        name: Install dependencies
        command: npm ci

    - run:
        name: Identify services tagged in the PR title
        command: npm run test:services:pr:prepare

    - run:
        name: Run tests for tagged services
        environment:
          mocha_reporter: mocha-junit-reporter
          MOCHA_FILE: junit/services/results.xml
        command: npm run test:services:pr:run

    - store_test_results:
        path: junit

package_steps: &package_steps
  steps:
    - checkout

    - restore_cache:
        keys:
          - v2-dependencies-{{ checksum "package-lock.json" }}
          # https://github.com/badges/shields/issues/1937
          - v2-dependencies-

    - run:
        name: Install dependencies
        command: npm ci

    - run:
        name: Tests for gh-badges package
        when: always
        environment:
          mocha_reporter: mocha-junit-reporter
          MOCHA_FILE: junit/gh-badges/results.xml
        command: npm run test:package

    - store_test_results:
        path: junit

jobs:
  # npm-install:
  #   docker:
  #     - image: circleci/node:8
  #   steps:
  #     - checkout

  #     - restore_cache:
  #         keys:
  #           - v2-dependencies-{{ checksum "package-lock.json" }}
  #           # fallback to using the latest cache if no exact match is found
  #           - v2-dependencies-

  #     - run:
  #         name: Install dependencies
  #         command: npm ci

  #     - save_cache:
  #         paths:
  #           - node_modules
  #         key: v2-dependencies-{{ checksum "package-lock.json" }}

  main:
    docker:
      - image: circleci/node:8

    <<: *main_steps

  main@node-latest:
    docker:
      - image: circleci/node:latest

    <<: *main_steps

  integration:
    docker:
      - image: circleci/node:8
      - image: redis

    <<: *integration_steps

  integration@node-latest:
    docker:
      - image: circleci/node:latest
      - image: redis

    <<: *integration_steps

  package@node-10:
    docker:
      - image: circleci/node:10

    <<: *package_steps

  danger:
    docker:
      - image: circleci/node:8
    steps:
      - checkout

      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "package-lock.json" }}
            # https://github.com/badges/shields/issues/1937
            - v2-dependencies-

      - run:
          name: Install dependencies
          command: npm ci

      - run:
          name: Danger
          when: always
          environment:
            # https://github.com/gatsbyjs/gatsby/pull/11555
            NODE_ENV: test
          command: npm run danger ci

  frontend:
    docker:
      - image: circleci/node:8
    steps:
      - checkout

      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "package-lock.json" }}
            # https://github.com/badges/shields/issues/1937
            - v2-dependencies-

      - run:
          name: Install dependencies
          command: npm ci

      - run:
          name: Prepare frontend tests
          command: npm run defs && npm run features

      - run:
          name: Frontend unit tests
          environment:
            mocha_reporter: mocha-junit-reporter
            MOCHA_FILE: junit/frontend/results.xml
          command: npm run test:frontend

      - store_test_results:
          path: junit

      - run:
          name: Frontend build completes successfully
          when: always
          command: npm run build

  services:
    docker:
      - image: circleci/node:8

    <<: *services_steps

  services@node-latest:
    docker:
      - image: circleci/node:latest

    <<: *services_steps

  e2e:
    docker:
      - image: cypress/base:8
    steps:
      - checkout

      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "package-lock.json" }}
            # https://github.com/badges/shields/issues/1937
            - v2-dependencies-

      - run:
          name: Install dependencies
          command: npm ci

      - run:
          name: Frontend build
          command: GATSBY_BASE_URL=http://localhost:8080 npm run build

      - run:
          name: Run tests
          environment:
            CYPRESS_REPORTER: junit
            MOCHA_FILE: junit/e2e/results.xml
          command: npm run e2e-on-build

      - store_test_results:
          path: junit

      - store_artifacts:
          path: cypress/videos

      - store_artifacts:
          path: cypress/screenshots

workflows:
  version: 2

  on-commit:
    jobs:
      - main:
          filters:
            branches:
              ignore: gh-pages
      - main@node-latest:
          filters:
            branches:
              ignore: gh-pages
      - integration@node-latest:
          filters:
            branches:
              ignore: gh-pages
      - frontend:
          filters:
            branches:
              ignore: gh-pages
      - services:
          filters:
            branches:
              ignore:
                - master
                - gh-pages
      - services@node-latest:
          filters:
            branches:
              ignore:
                - master
                - gh-pages
      - danger:
          filters:
            branches:
              ignore:
                - master
                - gh-pages
                - /dependabot\/.*/
      - e2e:
          filters:
            branches:
              ignore: gh-pages
  # on-commit-with-cache:
  #   jobs:
  #     - npm-install:
  #         filters:
  #           branches:
  #             ignore: gh-pages
  #     - main:
  #         requires:
  #           - npm-install
  #     - main@node-latest:
  #         requires:
  #           - npm-install
  #     - frontend:
  #         requires:
  #           - npm-install
  #     - services:
  #         requires:
  #           - npm-install
  #         filters:
  #           branches:
  #             ignore: master
  #     - services@node-latest:
  #         requires:
  #           - npm-install
  #         filters:
  #           branches:
  #             ignore: master
  #     - danger:
  #         requires:
  #           - npm-install
  #         filters:
  #           branches:
  #             ignore: /dependabot\/.*/
