version: 2

integration_steps: &integration_steps
  steps:
    - checkout

    - run:
        name: Install dependencies
        command: |
          npm ci
        environment:
          CYPRESS_INSTALL_BINARY: 0

    - run:
        name: Integration tests
        when: always
        environment:
          mocha_reporter: mocha-junit-reporter
          MOCHA_FILE: junit/integration/results.xml
        command: npm run test:integration

    - store_test_results:
        path: junit

services_steps: &services_steps
  steps:
    - checkout

    - run:
        name: Install dependencies
        command: |
          npm ci
        environment:
          CYPRESS_INSTALL_BINARY: 0

    - run:
        name: Identify services tagged in the PR title
        command: npm run test:services:pr:prepare

    - run:
        name: Run tests for tagged services
        environment:
          mocha_reporter: mocha-junit-reporter
          MOCHA_FILE: junit/services/results.xml
        command: RETRY_COUNT=3 npm run test:services:pr:run

    - store_test_results:
        path: junit

jobs:
  integration:
    docker:
      - image: cimg/node:16.15
      - image: redis

    <<: *integration_steps

  integration@node-17:
    docker:
      - image: cimg/node:17.9
      - image: redis
    environment:
      NPM_CONFIG_ENGINE_STRICT: 'false'

    <<: *integration_steps

  danger:
    docker:
      - image: cimg/node:16.15
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: npm ci
          environment:
            CYPRESS_INSTALL_BINARY: 0

      - run:
          name: Danger
          when: always
          environment:
            # https://github.com/gatsbyjs/gatsby/pull/11555
            NODE_ENV: test
          command: npm run danger ci

  frontend:
    docker:
      - image: cimg/node:16.15

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            npm ci
          environment:
            CYPRESS_INSTALL_BINARY: 0

      - run:
          name: Prepare frontend tests
          command: npm run defs && npm run features

      - run:
          name: Check types
          command: npm run check-types:frontend

      - run:
          name: Frontend unit tests
          environment:
            mocha_reporter: mocha-junit-reporter
            MOCHA_FILE: junit/frontend/results.xml
          when: always
          command: npm run test:frontend

      - store_test_results:
          path: junit

      - run:
          name: Frontend build completes successfully
          when: always
          command: npm run build

  services:
    docker:
      - image: cimg/node:16.15

    <<: *services_steps

  services@node-17:
    docker:
      - image: cimg/node:17.9
    environment:
      NPM_CONFIG_ENGINE_STRICT: 'false'

    <<: *services_steps

  e2e:
    docker:
      - image: cypress/base:16.14.0

    steps:
      - checkout

      - restore_cache:
          name: Restore Cypress binary
          keys:
            - v2-cypress-dependencies-{{ checksum "package-lock.json" }}

      - run:
          name: Install dependencies
          command: |
            npm ci

      - run:
          name: Frontend build
          command: GATSBY_BASE_URL=http://localhost:8080 npm run build

      - run:
          name: Run tests
          environment:
            CYPRESS_REPORTER: junit
            MOCHA_FILE: junit/e2e/results.xml
          command: npm run e2e-on-build

      - store_test_results:
          path: junit

      - store_artifacts:
          path: cypress/videos

      - store_artifacts:
          path: cypress/screenshots

      - save_cache:
          name: Cache Cypress binary
          paths:
            # https://docs.cypress.io/guides/getting-started/installing-cypress.html#Binary-cache
            - ~/.cache/Cypress
          key: v2-cypress-dependencies-{{ checksum "package-lock.json" }}

workflows:
  version: 2

  on-commit:
    jobs:
      - integration@node-17:
          filters:
            branches:
              ignore: gh-pages
      - frontend:
          filters:
            branches:
              ignore: gh-pages
      - services:
          filters:
            branches:
              ignore:
                - master
                - gh-pages
      - services@node-17:
          filters:
            branches:
              ignore:
                - master
                - gh-pages
      - danger:
          filters:
            branches:
              ignore:
                - master
                - gh-pages
                - /dependabot\/.*/
      - e2e:
          filters:
            branches:
              ignore: gh-pages
  # on-commit-with-cache:
  #   jobs:
  #     - npm-install:
  #         filters:
  #           branches:
  #             ignore: gh-pages
  #     - frontend:
  #         requires:
  #           - npm-install
  #     - services:
  #         requires:
  #           - npm-install
  #         filters:
  #           branches:
  #             ignore: master
  #     - services@node-latest:
  #         requires:
  #           - npm-install
  #         filters:
  #           branches:
  #             ignore: master
  #     - danger:
  #         requires:
  #           - npm-install
  #         filters:
  #           branches:
  #             ignore: /dependabot\/.*/
