html {
  background-attachment: fixed;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NDAiIGhlaWdodD0iNDgwIj48ZmlsdGVyIGlkPSJhIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii4wOCIgbnVtT2N0YXZlcz0iOCIgc3RpdGNoVGlsZXM9InN0aXRjaCIgc2VlZD0iMzQ2Ii8+PGZlQ29sb3JNYXRyaXggdmFsdWVzPSIxIDAgMCAwIDAgIDEgMCAwIDAgMCAgMSAwIDAgMCAuOSAgLjAxIDAgMCAwIC4wMSIvPjwvZmlsdGVyPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbHRlcj0idXJsKCNhKSIvPjwvc3ZnPg==);
}

:root,
dialog {
  text-align: center;
  font-family: Lekton, sans-serif;
  color: #534;
}

code,
.code {
  font-family: Lekton;
  white-space: pre-wrap;
  padding: 0 4px;
  background: #eef;
  border-radius: 4px;
}

input.short {
  width: 5em;
}

input {
  text-align: center;
  border: solid #b9a;
  color: #534;
  border-width: 0 0 1px 0;
  width: 40%;
  height: 15px;
  padding: 0;
  background-color: transparent;
}

input:focus {
  outline: 0;
}

hr {
  width: 40%;
  border-width: 1px 0 0 0;
}

ul {
  text-align: left;
  margin-left: 25%;
}

table {
  min-width: 50%;
  margin: auto;
}

table.centered > tbody > tr > td:first-child {
  text-align: right;
}

table.usage {
  table-layout: fixed;
  border-spacing: 20px 10px;
}

.nowrap {
  white-space: nowrap;
}

table.usage td:first-of-type {
  max-width: 300px;
}

table.usage td:nth-of-type(2) {
  max-width: 600px;
}

th,
td {
  text-align: left;
}

h2,
h3 {
  font-style: italic;
}

h2::before {
  content: '☙ ';
}

h2::after {
  content: ' ❧';
}

h2 {
  margin-top: 12mm;
  font-variant: small-caps;
}

hr.spacing {
  border: 0;
  display: block;
  height: 3mm;
}

.clickable {
  cursor: pointer;
}

.excluded {
  display: none;
}

.badge-img {
  min-height: 20px;
  vertical-align: middle;
}

.spaced-row * {
  margin-left: 10px;
  margin-right: 10px;
}
