name: Build Docker Image
on:
  pull_request:
  push:
    branches:
      - 'gh-readonly-queue/**'

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set Git Short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: ghcr.io/badges/shields:pr-validation
          build-args: |
            version=${{ env.SHORT_SHA }}
