name: Create Release

on:
  pull_request:
    types: [closed]

permissions:
  contents: write
  packages: write

jobs:
  create-release:
    if: |
      github.event_name == 'pull_request' &&
      github.event.action == 'closed' &&
      github.event.pull_request.merged == true &&
      contains(github.event.pull_request.labels.*.name, 'release')

    runs-on: ubuntu-latest

    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date --rfc-3339=date)"

      - name: Checkout branch "master"
        uses: actions/checkout@v6
        with:
          ref: 'master'

      - name: Tag release in GitHub
        uses: tvdias/github-tagger@v0.0.2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          tag: server-${{ steps.date.outputs.date }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push snapshot release to DockerHub
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: shieldsio/shields:server-${{ steps.date.outputs.date }}
          build-args: |
            version=server-${{ steps.date.outputs.date }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push snapshot release to GHCR
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/badges/shields:server-${{ steps.date.outputs.date }}
          build-args: |
            version=server-${{ steps.date.outputs.date }}
