name: Danger
on:
  pull_request_target:
    types: [opened, reopened, synchronize]

permissions:
  checks: write
  pull-requests: write
  statuses: write

jobs:
  danger:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]' && github.actor != 'repo-ranger[bot]'
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: 22

      - name: Danger
        run: npm run danger ci
        env:
          # https://github.com/gatsbyjs/gatsby/pull/11555
          NODE_ENV: test
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
