name: Lint
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches-ignore:
      - 'gh-pages'
      - 'dependabot/**'

jobs:
  test-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: 22

      - name: ESLint
        if: always()
        run: npm run lint

      - name: 'Prettier check (quick fix: `npm run prettier`)'
        if: always()
        run: npm run prettier:check
